@{
    ViewData["Title"] = "About Me";
}
<h1 class="display-4 text-white text-center">@ViewData["Title"]</h1>
<hr class="bg-light" />
<div class="row justify-content-center mx-auto text-white">
    <p class="w-25 text-left">I like learning new skills and technologies. That is the reason I started learning programing. It's a profession that requires constant learning. I like to challenge myself and that is present in every programing problem. I'm currently trying to change my profession an find my first job as a software developer. </p>
    <img style="border-radius: 8px;" class="md-4" src="~/img/IMG_20190907_153657.jpg" alt="Plovdiv Photo" width="400" />
    <p class="w-25 text-right px-2">I'm learning web development with C# since September 2018 in SoftUni in Bulgaria. I have experience with EF Core and have learned MS SQL Server. I have several projects that i have made with .Net Core MVC and many different console programs that I've made during my education.I like to build PC's and I'm able to diagnose and troubleshoot hardware related issues. </p>
</div>