@model Portfolio.Models.ViewModels.ContactInputModel
@{
    ViewData["Title"] = "Contacts";
}
<h1 class="display-4 text-white text-center">@ViewData["Title"]</h1>
<hr class="bg-light" />

<!-- contact -->
<section class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="bg-transparent rounded text-center p-5 shadow-down">
                    <h4 class="text-white mb-80">Contact Form</h4>
                    <br />
                    <form method="post" asp-action="Contact" class="row">
                        <div class="col-md-6">
                            <input asp-for="Name" placeholder="Full Name" class="form-control mb-4" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="Email" placeholder="Email Address" class="form-control mb-4" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <textarea rows="3" placeholder="Type Message Here" asp-for="Email" class="form-control mb-4"></textarea>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-lg-5 col-10 mx-auto">
                            <input type="submit" class="btn btn-success w-100" value="Send" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /contact -->