@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="text-white">
        <h1 class="display-4">Hello, my name is Budin Kolyandov</h1>
        <hr class="bg-light" />
        <!-- about -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto text-center">
                        <p class="font-secondary paragraph-lg">
                            I was born in 1992. I live in Sofia, Bulgaria and I'm studying Software development in SoftUni. I'm currently enrolled in the C# Professional Module to become a C# web developer. I've studied Public administration in UNWE and worked as a cashier at Fantastico, croupier at Efbet, and customer service Exchange and return coworker in Ikea.
                        </p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-lg btn-success w-50 text-light">Learn more</a>
                    </div>
                </div>
            </div>
            <br />
        </section>
        <!-- /about -->
    </div>
    <!-- education -->
    <section class="section position-relative">
        <div class="container">
            <div class="col-lg-12 text-center text-white">
                <h2 class="display-4 section-title">SoftUni Certificates</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">Programming Basics with C# - September 2018</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/58995/114c8843">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">Technology Fundamentals with C# - January 2019</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/65328/5dcdc2fd">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">C# Advanced - May 2019</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/67860/03f92e4b">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">C# OOP - June 2019</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/69927/aed36314">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">Databases Basics - MS SQL Server - September 2019</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/71064/4ab71e87">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">Entity Framework Core - October 2019</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/74342/55b0958f">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">C# Web Basics - January 2020</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/77277/e52ebcaf">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <i class="ti-medall icon icon-light icon-bg rounded-circle d-block"></i>
                            <h5 class="mb-1">ASP.NET Core - February 2020</h5>
                        </div>
                        <div class="card-body">
                            <a class="stretched-link btn btn-transparent text-white" href="https://softuni.bg/certificates/details/81028/98cb9762">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </section>
    <!-- /education -->
    <!-- workExperince -->
    <section class="section position-relative">
        <div class="container">
            <div class="col-lg-12 text-center text-white">
                <h2 class="display-4 section-title">Working Experience</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <h5 class="mb-1">Customer relations, Exchange and returns coworker at IKEA</h5>
                        </div>
                        <div class="card-body text-white">
                            <p>11.02.2019 - Present</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <h5 class="mb-1">Salesman at the National Lottery Bulgaria</h5>
                        </div>
                        <div class="card-body text-white">
                            <p>12.02.2018 - 05.06.2018</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <h5 class="mb-1">Croupier at casino Efbet</h5>
                        </div>
                        <div class="card-body text-white">
                            <p>15.12.2017 - 25.01.2018</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom:25px">
                    <div class="card bg-transparent">
                        <div class="card-header text-white">
                            <h5 class="mb-1">Cashier at Fantastico store</h5>
                        </div>
                        <div class="card-body text-white">
                            <p>02.02.2015 - 21.11.2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </section>
    <!-- /workExperince -->
</div>
